html,body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    /*background: linear-gradient(to right, #fffb000c, #8200b509 , #fd000011);
    background-attachment: fixed;*/
    color: black;
    letter-spacing: 1.9px;
    text-rendering: optimizelegibility;
    /*overflow: hidden;*/
    scroll-behavior: smooth;
}

section{
    height: auto;
    /*background: linear-gradient(to right, #fffb008c, #8200b509 , #fd00004f);
    margin-left: 50px;
    margin-right: 50px;
    z-index: 1;*/    
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
    /*======================================================
                            Navbar
    ======================================================*/
  #navbar {
    background: white;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 90px;
    line-height: 80px;
    width: 100vw;
    z-index: 10;
  }
  
  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
  } @media(max-width: 768px) {
      .nav-wrapper {
        width: 90%;
      }
    } @media(max-width: 638px) {
        .nav-wrapper {
          width: 100%;
        }
      } 
  
  #navbar ul {
    display: inline-block;
    list-style: none;
    /* margin-right: 14px; */
    margin-top: 5px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  } @media(max-width: 640px) {
      #navbar ul {
        display: none;
      }
    } @media(orientation: landscape) {
        #navbar ul {
          display: inline-block;
        }
      }
  
  #navbar li {
    display: inline-block;
  }
  
  #navbar li a {
    color: rgb(9, 16, 22);
    display: block;
    font-size: 1.2em;
    height: 50px;
    letter-spacing: 1.5px;
    margin: 0 20px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    font-weight: 400;
  }
  
  #navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: rgb(28, 121, 184);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: rgb(13, 26, 38);
    right: 0;
    /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
  }
  
  #navbar li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
    /* transition: 0s; */
  }
  
  
  
  /*======================================================
                      Mobile Menu Menu Icon
    ======================================================*/
  @media(max-width: 640px) {
    .menuIcon {
      cursor: pointer;
      display: block;
      position: fixed;
      right: 15px;
      top: 35px;
      height: 23px;
      width: 27px;
      z-index: 12;
    }
  
    /* Icon Bars */
    .icon-bars {
      background: rgb(13, 26, 38);
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    } 
  
    .icon-bars::before {
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    .icon-bars::after {
      margin-top: 0px;
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    /* Bars Shadows */
    .icon-bars.overlay {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 20px;
      animation: middleBar 3s infinite 0.5s;
      -webkit-animation: middleBar 3s infinite 0.5s;
    } @keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      } @-webkit-keyframes middleBar {
          0% {width: 0px}
          50% {width: 20px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::before {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 10px;
      animation: topBar 3s infinite 0.2s;
      -webkit-animation: topBar 3s infinite 0s;
    } @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      } @-webkit-keyframes topBar {
          0% {width: 0px}
          50% {width: 10px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::after {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 15px;
      animation: bottomBar 3s infinite 1s;
      -webkit-animation: bottomBar 3s infinite 1s;
    } @keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      } @-webkit-keyframes bottomBar {
          0% {width: 0px}
          50% {width: 15px}
          100% {width: 0px}
        }
  
  
    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }
  
    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
  }
  
  
  /*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
  .overlay-menu {
    background: rgb(9, 185, 243);
    color: rgb(13, 26, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    z-index: 1;
  }
  
  .overlay-menu ul, .overlay-menu li {
    display: block;
    position: relative;
  }
  
  .overlay-menu li a {
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
  /*   opacity: 0; */
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
    transition: 0.2s opacity 0.2s ease-out; */
  }
  
  .overlay-menu li a:hover,
  .overlay-menu li a:active {
    color: rgb(28, 121, 184);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }


#about {
    padding-top: 120px;
}

.about-heading{
    font-size: 6em;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

#about h2{
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

.hello{
  margin-top: 150px;
}
#about .hello p{
    padding-top: 25px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.822);
    font-weight: 500;
}

/*
#about .hello img{
  width: 300px;
  border-radius: 10em;
  border: 0.5px solid black ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
*/

.about {
  margin-top: 48px;
}


@media only screen and (max-width: 509px){
    #about {
        padding-top: 70px;
    }

    .about-heading{
        padding-top: 25%;
        font-size: 4.2em;
    }
    
    #about h2{
        font-size: 2.5em;
        font-weight: bold;
    }
} 

#about .about p{
    padding-top: 15px;
    font-size: 20px;
    color: black;
    word-spacing: 3.5px;
}

#about .about h6{   
    color: rgba(0, 0, 0, 0.815);
    text-decoration: underline;
    text-underline-position: under;
    text-transform: uppercase;
}

.social-media {
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.social-media .fa:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    color: white;
}

.social-media img:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    color: white;
}

.fa-envelope {
    border-radius: 50%;
    background-color: rgba(211, 21, 21, 0.836);
    color: white;
    font-size: 28px;
    padding: 11px 10.5px;
}

.fa-linkedin {
    border-radius: 50%;
    background-color: #007bb5;
    color: white;
    font-size: 30px;
    padding: 10px 10.5px;
}

.fa-instagram {
    background: linear-gradient(to bottom, #a119f0, #ff2fa8, #e7f706); 
    border-radius: 50%;
    color: white;
    font-size: 30px;
    padding: 10px 10.5px;
}

.fa-facebook {
    border-radius: 50%;
    background-color: #3B5998;
    color: white;
    font-size: 29px;
    padding: 10px 15.5px;
}

.social-media img{
    margin-top: -14px;
    width: 48.5px;
}

#skills .row p{
  text-align: center;
  font-weight: bold;
  padding-left: 20px;
}

#skills h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 3em;
}

#experience h1{
  margin-top: 20px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 3em;
}

#contact {
    padding-bottom: 30px;
}

#contact h1{
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

#contact h4{
    color: black;
}

.no-border{
    border: none;
    border-bottom: 2.5px solid black;
  }
  
.no-border:focus{
    border: none;
    border-bottom: 3.5px solid #3602f3;
    box-shadow: none;
    background-color: #f3f3f3a6;
}

.footer{
    letter-spacing: 3px;
    padding: 5px;
}

.submit {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 12px 32px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    font-size: bold;
}
  
.submit:hover {
    background-color: #3602f3a8;
    color: white;
    font-size: bold;
}


/*=====================
		CIRCLE PROGRESS BAR
	======================*/
/*
	.circle {
		width: 180px;
		height: 180px;
		margin: 0 auto;
		display: inline-block;
		position: relative;
    text-align: center;
  }
  
	.circle:after {
	  width: 120px;
		height: 120px;
		content: "";
		border: 1px solid rgba(0, 0, 0, 0.459);
		border-radius: 50%;
		position: absolute;
		top: 30px;
		left: 30px;
	}
	
	.circle canvas {
		vertical-align: middle;
		border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 50%;
	}
	
	.circle div {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -20px 0 0 -86px;
		width: 100%;
		text-align: center;
    line-height: 40px;
		font-size: 20px;
  }

  */

  .skill1 {
    padding: 10px;
    border: 0.5px solid #000000e0;
    height: 480px;
    margin-bottom: 20px;
  }

  .skill2 {
    padding: 10px;
    border: 0.5px solid #000000e0;
    height: 160px;
    margin-bottom: 20px;
  }

  .skill3 {
    padding: 10px;
    border: 0.5px solid #000000e0;
    height: 300px;
  }

  .progress {
    height: 40px;
  }

  .progress-bar{
    background: linear-gradient(to right, #fffb00bd, #8200b5bd , #fd000094); 
    height: 40px;
    font-size: 15px;
    font-size: bold;
  }

  [data-aos="example-anim3"] {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
  }
  [data-aos="example-anim3"].aos-animate {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }